
<!-- Bootstrap framework -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen,print" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css"  media="screen,print" />
<link rel="stylesheet" href="/bootstrap-glyphicons/css/bootstrap.icon-large.min.css" />

<!-- breadcrumbs-->
<link rel="stylesheet" href="/lib/jBreadcrumbs/css/BreadCrumb.css" />
<!-- tooltips-->
<link rel="stylesheet" href="/lib/qtip2/jquery.qtip.min.css" />

<link rel="stylesheet" href="/lib/stepy/css/jquery.stepy.css" />
<!-- colorbox -->
<link rel="stylesheet" href="/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css" />
<!-- code prettify -->
<link rel="stylesheet" href="/lib/google-code-prettify/prettify.css" />
<!-- notifications -->
<link rel="stylesheet" href="/lib/sticky/sticky.css" />
<!-- splashy icons -->
<link rel="stylesheet" href="/img/splashy/splashy.css" />
<!-- flags -->
<link rel="stylesheet" href="/img/flags/flags.css" />
<!-- calendar -->
<link rel="stylesheet" href="/lib/fullcalendar/fullcalendar_gebo.css" />

<!-- gebo color theme-->
<link rel="stylesheet" href="/css/blue.css" id="link_theme" media="screen,print"  />

<link rel="stylesheet" href="/css/style.css" media="screen,print" />


<link rel="stylesheet" href="/css/print.css" media="print" />
<!-- main styles -->
<link rel="stylesheet" href="/css/fineuploader-3.5.0.css" />


<link rel="stylesheet" href="/css/select2.css" />

<link rel="stylesheet" href="/css/select2-bootstrap.css" />

<link rel="stylesheet" href="/lib/pickadate/themes/default.css" />

<link rel="stylesheet" href="/lib/pickadate/themes/default.time.css" />

<link rel="stylesheet" href="/css/select2-bootstrap.css" />


<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" />
<script>
    //* hide all elements & show preloader
    document.documentElement.className += 'js';
</script>





