 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Report Dashboard</h3>
        <form id="reportForm">
	        <div class="row-fluid">
	            <div class="span3 adminFields">
	                <label for="outlet">Outlet</label>
	                <input type="text" class="span10" id="outlet" value="ALL">
	            </div>
	            <div class="span3">
	                <label for="type">Type</label>
	                <select id="type" name="type">
	                	<option>Daily</option>
	                	<!-- <option>Weekly</option> -->
	                	<option>Monthly</option>
	                </select>
	            </div>
	            <div class="span3">
	                <label for="date">Date</label>
	                <input type="text" class="span10" id="date" onfocus="blur()">
	            </div>
	        </div>
            <div class="form-actions">
                <a class="btn btn-primary" data-loading-text="Loading ..." id="searchReport">Search</a>
                <a class="btn btn-warning" data-loading-text="Loading ..." id="clearReport"><i class="icon-ok icon-white"></i> Reset </a>
            </div>
      		<div class="row-fluid">
        	 	<div id="reportQuantity" class="span6">Chart will load here...</div>
  				<div id="pieChartMoney" class="span6">Chart will load here...</div>
        	</div>
        	<div class="row-fluid">
        	 	<div id="lineChartQuantity" class="span12">Chart will load here...</div>
        	</div> 
        	<div class="row-fluid">
        	 	<div id="lineChartMoney" class="span12">Chart will load here...</div>
        	</div> 
        </form>
        
	</div>
</div>
<script>


</script>