 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Transaction</h3>
        <form id="reportForm">
        <div class="row-fluid">
            <div class="span3">
                <label for="item">Item</label>
                <input type="text" class="span10" id="item">
            </div>
            <div class="span3 adminFields">
                <label for="outlet">Outlet</label>
                <input type="text" class="span10" id="outlet">
            </div>
            <div class="span3 controls controls-row">
                <label for="dateFrom">Date From</label>
                <input type="text" class="span6" id="dateFrom">
                <input type="text" class="span4" id="timeFrom" data-template="modal" data-minute-step="1" data-modal-backdrop="true" >
            </div>
            <div class="span3 controls controls-row">
                <label for="dateTo">Date To</label>
                <input type="text" class="span6" id="dateTo">
                <input type="text" class="span4" id="timeTo" data-template="modal" data-minute-step="1" data-modal-backdrop="true" >
            </div>
        </div>
            <div class="form-actions">
                <a class="btn btn-primary" id="searchReport" data-loading-text="Loading ...">Search</a>
                <a class="btn btn-success" data-loading-text="Loading ..."  id="exportTransactionSummary"><i class="icon-ok icon-white"></i> Export Summary </a>
                <a class="btn btn-success" data-loading-text="Loading ..."  id="exportTransactionDetail"><i class="icon-ok icon-white"></i> Export Detail </a>
            </div>
        </form>
        <table class="table table-bordered table-striped  dTableR" id="privia_grid" aria-describedby="dt_gal_info">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Item</th>
                    <th>Outlet</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>

            <tbody>

            </tbody></table>

        </div>
    </div>
    <script>



    </script>