 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Cashier Closing</h3>
        <form id="reportForm">
        <div class="row-fluid">
            <div class="span3">
                <label for="cashier">Cashier</label>
                <input type="text" class="span10" id="cashier" value="ALL">
            </div>
            <div class="span3 adminFields">
                <label for="outlet">Outlet</label>
                <input type="text" class="span10" id="outlet" value="ALL">
            </div>
            <div class="span3">
                <label for="dateFrom">Date From</label>
                <input type="text" class="span10" id="dateFrom" onfocus="blur()">
            </div>
            <div class="span3">
                <label for="dateTo">Date To</label>
                <input type="text" class="span10" id="dateTo" onfocus="blur()">
            </div>
        </div>
            <div class="form-actions">
                <a class="btn btn-primary" data-loading-text="Loading ..." id="searchReport">Search</a>
                <a class="btn btn-success" data-loading-text="Loading ..." id="exportCashierClosing"><i class="icon-ok icon-white"></i> Export <Transaction></Transaction></a>
            </div>
        </form>
        <table class="table table-bordered table-striped  dTableR" id="privia_grid" aria-describedby="dt_gal_info">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th width=15%>Cashier</th>
                    <th width=25%>Outlet</th>
                    <th>Open Balance (S$)</th>
                    <th>Cash In Drawer (S$)</th>
                    <th>Expenses (S$)</th>
                    <th>Total Collection (S$)</th>
                    <th>Daily Turnover (S$)</th>
                    <th>Total (S$)</th>
                </tr>
            </thead>

            <tbody>

            </tbody></table>

        </div>
    </div>
    <script>



    </script>