<form id="queryForm" action="/audits/submit" method="post">
    <div>
		<button type="submit">submit</button>
	</div>
	<div>
		<label>audits[0].androidId</label>
		<input type="text" name="audits[0].androidId" value="1" />
	</div>
	<div>
		<label>audits[0].user.id</label>
		<input type="text" name="audits[0].user.id" value="2" />
	</div>
	<div>
		<label>audits[0].shop.id</label>
		<input type="text" name="audits[0].shop.id" value="1" />
	</div>
	<div>
		<label>audits[0].action</label>
		<input type="text" name="audits[0].action" value="Login" />
	</div>
	<div>
		<label>audits[0].actionDate</label>
		<input type="text" name="audits[0].actionDate" value="2013-12-31 12:00:12" />
	</div>
	<div>
		<label>audits[1].androidId</label>
		<input type="text" name="audits[1].androidId" value="2" />
	</div>
	<div>
		<label>audits[1].user.id</label>
		<input type="text" name="audits[1].user.id" value="2" />
	</div>
	<div>
		<label>audits[1].shop.id</label>
		<input type="text" name="audits[1].shop.id" value="1" />
	</div>
	<div>
		<label>audits[1].action</label>
		<input type="text" name="audits[1].action" value="Logout" />
	</div>
	<div>
		<label>audits[1].actionDate</label>
		<input type="text" name="audits[1].actionDate" value="2013-12-31 16:00:12" />
	</div>
</form>
