#{extends '/layout/plain.html' /}
#{set title: 'login.title'  /}

<div class="login_box">

    <form method="post" id="login_form">
        <div class="top_b">&{'login.form.title'}</div>
        <div class="alert alert-info alert-login" id="loginAlert">
            &{'login.form.input'}
        </div>
        <div class="cnt_b">
            <div class="formRow">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" id="username" name="username" placeholder="&{'login.form.username'}" />
                </div>
            </div>
            <div class="formRow">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="password" placeholder="&{'login.form.password'}"  />
                </div>
            </div>

   			*{   	
   			<input type="text" name="user.userIp" id="userIp" value="${user?.userIp}" placeholder="IP" required>
            <input type="text" name="user.userMac" id="userMac" value="${user?.userMac}" placeholder="MAC" required>
            }*
        </div>
        <div class="btm_b clearfix">
            <button class="btn btn-inverse pull-right" type="submit">&{'login.form.signIn'}</button>
            <!--  <span class="link_reg"><a href="#reg_form">Not registered? Sign up here</a></span> -->
        </div>
    </form>

    <div class="links_b links_btm clearfix">
        <span class="linkform">&{'global.lang'}: </span>
        <span class="linkform">
        	<a href="@{Auth.index()}?lang=en">English</a>
        	<a href="@{Auth.index()}?lang=zh">中文</a>
        </span>
    </div>
</div>

#{set 'moreScripts'}
<script>
    $(document).ready(function(){

        //* boxes animation
        form_wrapper = $('.login_box');
        function boxHeight() {
            form_wrapper.animate({ marginTop : ( - ( form_wrapper.height() / 2) - 24) },400);
        };
        form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });
        $('.linkform a,.link_reg a').on('click',function(e){
            var target  = $(this).attr('href'),
                    target_height = $(target).actual('height');
            $(form_wrapper).css({
                'height'        : form_wrapper.height()
            });
            $(form_wrapper.find('form:visible')).fadeOut(400,function(){
                form_wrapper.stop().animate({
                    height   : target_height,
                    marginTop: ( - (target_height/2) - 24)
                },500,function(){
                    $(target).fadeIn(400);
                    $('.links_btm .linkform').toggle();
                    $(form_wrapper).css({
                        'height'        : ''
                    });
                });
            });
            e.preventDefault();
        });

        //* validation
        var options = {
            success: showResponse,
            url :'@{Auth.login()}',
            error : errorHandler
        };
        $('#login_form').ajaxForm(options);

        function showResponse(responseText, statusText, xhr, $form) {
        	location.href="/home";
        }
        
        function errorHandler(context, xhr, status, responseText) {
            var errorText = "&{'login.form.error.login'}";
            $('#loginAlert').hide().fadeIn(400).removeClass('alert-info').addClass('alert-error').text(errorText);
        }
    });
</script>

#{/set}