#{extends '/layout/plain.html' /}
#{set title:'Login' /}


<div class="login_box">

    <form method="post" id="login_form">
        <div class="top_b">Sign in to Fishball Online</div>
        <div class="alert alert-info alert-login" id="loginAlert">
            Enter valid username and password
        </div>
        <div class="cnt_b">
            <div class="formRow">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span><input type="text" id="username" name="username" placeholder="Username" />
                </div>
            </div>
            <div class="formRow">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span><input type="password" id="password" name="password" placeholder="Password"  />
                </div>
            </div>

   *{         <input type="text" name="user.userIp" id="userIp" value="${user?.userIp}" placeholder="IP" required>
            <input type="text" name="user.userMac" id="userMac" value="${user?.userMac}" placeholder="MAC" required>}*
        </div>
        <div class="btm_b clearfix">
            <button class="btn btn-inverse pull-right" type="submit">Sign In</button>
            <!--  <span class="link_reg"><a href="#reg_form">Not registered? Sign up here</a></span> -->
        </div>
    </form>


    <div class="links_b links_btm clearfix">
        <span class="linkform"><a href="#pass_form"></a></span>
        <span class="linkform" style="display:none">Never mind, <a href="#login_form">send me back to the sign-in screen</a></span>
    </div>
</div>

#{set 'moreScripts'}
<script>
    $(document).ready(function(){

        //* boxes animation
        form_wrapper = $('.login_box');
        function boxHeight() {
            form_wrapper.animate({ marginTop : ( - ( form_wrapper.height() / 2) - 24) },400);
        };
        form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });
        $('.linkform a,.link_reg a').on('click',function(e){
            var target  = $(this).attr('href'),
                    target_height = $(target).actual('height');
            $(form_wrapper).css({
                'height'        : form_wrapper.height()
            });
            $(form_wrapper.find('form:visible')).fadeOut(400,function(){
                form_wrapper.stop().animate({
                    height   : target_height,
                    marginTop: ( - (target_height/2) - 24)
                },500,function(){
                    $(target).fadeIn(400);
                    $('.links_btm .linkform').toggle();
                    $(form_wrapper).css({
                        'height'        : ''
                    });
                });
            });
            e.preventDefault();
        });

        //* validation


        var options = {
            success: showResponse,
            url :'@{Auth.loginJson()}',
            error : errorHandler
        };
        $('#login_form').ajaxForm(options);

        function showResponse(responseText, statusText, xhr, $form) {
        	location.href="/home";

        }
        function errorHandler(context, xhr, status, responseText) {
            var errorText = 'Wrong username/password';

            $('#loginAlert').hide().fadeIn(400).removeClass('alert-info').addClass('alert-error').text(errorText);
        }
    });
</script>

#{/set}