<!DOCTYPE html>
<html>  
	<head>
		<title>Fish ball - #{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		#{include 'includes/javascript.html' /}
		#{get 'moreStyles' /}

	</head>
    <body>
    <div id="loading_layer" style="display:none"><img src="/img/ajax_loader.gif" alt="" /></div>

    #{include 'includes/header.html' /}
    <div id="containerwrapper">
        <div class="main_content" id="container">
        #{doLayout /}

        </div>

        #{include 'includes/sidebars.html' /}
    </div>

    #{if session?.username}
        <div data-role="footer" data-position="fixed" data-theme="c">
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a data-icon="home" href="@{Home.index()}">Home</a></li>
                    <li><a data-icon="star" href="#">Me</a></li>
                    <li><a data-icon="delete" href="@{Auth.logout()}" data-ajax="false">Logout</a></li>
                </ul>
            </div>
        </div>
    #{/if}

    </body>
    <script>

        var userCredential = {
          username:'${session?.username}',
          realname:'${session?.userRealname}',
          accessType:'OPERATOR'
        };

        var tmpAkses = '{{currentUser.akses}}';
        if(tmpAkses=='') location.href='/login';
        var arrAkses=tmpAkses.split(",");
        if (typeof console == "undefined") {
            this.console = {log: function(msg) {}};
        }
    </script>
    <script data-main="/app/main.privia" src="/lib/require.js"></script>
</html>

