<!DOCTYPE html>
<html lang="en" class="login_page">
<head>
    <title>WEEBO POS CLOUD - #{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
    <!-- theme color-->
    <link rel="stylesheet" href="/css/blue.css" />
    <!-- tooltip -->
    <link rel="stylesheet" href="/lib/qtip2/jquery.qtip.min.css" />
    <!-- main styles -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]>
    <script src="js/ie/html5.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-background">
    #{doLayout /}

<script src="/js/jquery.min.js"></script>
<script src="/lib/validation/jquery.validate.min.js"></script>
<script src="/js/forms/jquery.form.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
    #{get 'moreScripts' /}
</body>
</html>

