<div class="row-fluid">
	<div class="span12">
  		<h3 class="heading">Tambah Item</h3>
		<form id="itemForm" method="post">
		<div class="formMessage">
  			</div>
			<div class="control-group">
				<label>Serial No<span class="f_req">*</span></label>
				<input type="text" name="sn" value="<%=sn%>"> 
				</div>
			</div>
			<div class="control-group">
				<label>Barcode</label>
				<input type="text" name="barCode"  value="<%=barCode%>">
			</div>
			<div class="form-actions">
				<button type="button" class="finish btn btn-primary save" data-loading-text="Loading ..."><i class="icon-ok icon-white"></i> Save</button>
				<a class="btn cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>

<script>
	
</script>