<div class="row-fluid">
	<div class="span12">
		<h3 class="heading">Upload Items</h3>
		<form id="itemForm" method="post">
			<div class="formMessage"></div>
			<div class="control-group">
				<label>Type</label> 
				<select id="uploadType" name="type">
					<option value="category">Category</option>
					<option value="item">Item</option>
				</select>
			</div>
			<div class="control-group">
				<label>File</label> <input type="file" name="attachment">
			</div>
			<div class="form-actions">
				<button type="button" class="finish btn btn-primary upload"
					data-loading-text="Loading ...">
					<i class="icon-ok icon-white"></i> Upload & Save
				</button>
				<a class="btn cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>

<script>
	
</script>