 
<div class="row-fluid">
    <div class="span12">
        <div class="toolbar clearfix">
        <h3 class="heading">Items
        <div class="pull-right"><a class="label label-info" href="#/master/item/upload">Upload Items</a></div>
        </h3>
        </div>
         <form id="reportForm">
        <div class="row-fluid">
            <div class="span3">
                <label for="outlet">Outlet</label>
                <input type="text" class="span10" id="outlet" value="ALL">
            </div>
            </div>
            <div class="form-actions">
                <a class="btn btn-primary" id="searchItem" data-loading-text="Loading ...">Search</a>
                <a class="btn btn-warning" data-loading-text="Loading ..." id="clearItem"><i class="icon-ok icon-white"></i> Reset </a>
            </div>
            </form>
        <table class="table table-bordered table-striped  dTableR" id="privia_grid" aria-describedby="dt_gal_info">
            <thead>
                <tr>
                    <th width=80>Serial No</th>
                    <th>Item</th>
                    <th>Barcode</th>
                    <th>Cost Price</th>
                    <th>Retail Price</th>
                    <th>Shop</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

            </tbody></table>

        </div>
    </div>